body {
	margin: 0px;
	font-family: "PT Serif", Georgia, "Times New Roman", Times, serif;
	background-color: red;
	height: 100%;
}
html{
	height: 100%;
}
#left-side{
	padding: 0px;
	width: 200px;
	height: 100%;
	background-color: #222222;
	display: block;
	float: left;
}
#header{
	padding: 0px;
	width: 1200px;
	height: 80px;
	background-color: #ffffff;
	display: block;
	border-bottom: 5px solid  rgba(0,0,0,255);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#article{
	padding-right: 230px;
	padding-left: 230px;
	background-color: #ffffff;
	margin-top: -20px;
	height: 100%;
	width: 1200px;
	display: block;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.logo_header{
	padding-left: 16px;
}
#news-pic1{
	margin-top: 10px;
	margin-bottom: 10px;
}
#article h1{
	margin-bottom: 0px;
}
#article p{
	text-align: justify;
}