body {
	margin: 0px;
	font-family: "PT Serif", Georgia, "Times New Roman", Times, serif;
	background-color: #e5e5e5;
}
#left_sider{
	padding-left: 0px; /*THANKS BOOTSTRAP*/
	padding-right: 0px;
	float: right;
	width: 270px;
	display: inline-block;
	position: absolute;
	top: 110px;
	left: 920px;
	border: 1px solid rgba(0, 0, 0, .2);
}
#side{
	position: fixed; 
	color: #ffffff;
	background-color: #222222;
	width: 200px;
	height: 1160px;
	display:inline-block;
	float: left;
}
#header{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin-left: 115px;
	background-color: #ffffff;
	width: 1085px;
	height: 80px;
	display: block;
	border-bottom: 5px solid;
}
#article{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding-left: 119px;
	padding-right: 320px;
	margin-left: 115px;
	background-color: #ffffff;
	width: 1085px;
	height: 1060px;
	display: block;
}
#side ul{
	margin-top: 20px;
}
#news_text{
	margin-top: 30px;
	font-size: 16px;
}
#article p{
	font-size: 16px;
}
#header img{
	margin-left: 50px;
	display: inline-block;
}
#logo_header2{
	margin-left: 100px;
}
.logo_header1{
	height: 85px;
	margin-top: 20px;
}
#article_picture{
	display: inline-block;
	margin-top: 10px;
	width: 418px;
	height: 278px;
	float:center;
}
#article h1{
	font-size: 26px;
	font-weight: bold;
}
#side_list{
	list-style-type: none;
	padding-bottom: 6px;
	list-style-type: none;
	border-bottom: 1px solid #353535;
}
.side_li{
	margin: 0 0 6px 0;   
	display: block;
	font-size: 13px;
	font-weight: bold;
}
#side a{
	text-decoration: none;
	margin-left: -20px;
	color: #ffffff; 
}
#side a:visited{
	color: #ffffff;
}
#side a:hover{
	opacity: 0.7;
}
#side h4{
	margin-left: 30px;
	font-weight: bold;
}
#side_list2{
	margin-top: 10px;
	list-style-type: none;
	padding-bottom: 6px;
	list-style-type: none;
	font-size: 0px;
	border-bottom: 1px solid #353535;
}
#side_list3{
	margin-top: 10px;
	list-style-type: none;
	padding-bottom: 6px;
	list-style-type: none;
	font-size: 0px;
	border-bottom: 1px solid #353535;
}
#side_list4 li{
	font-size: 13px;
	margin-left: 23px;
	margin:0 0 7px 0;   
	display: block;
}
#picture_com_div{
	width: 100px;
	height:70px;
	display: inline-block;
	margin-left: 30px;
}
#picture_com_div p{
	font-size: 11px; /* MAKES NO FUCKIN SENS BUT WHATEVER */
}
#picture_comment1{
	opacity: 0.5;
	display: inline-block;
	margin-left: -40px;
}

.news_text{
	text-align: justify;
}
#last_text{
	padding-bottom: 8px;
	border-bottom: 1px solid rgba(0, 0, 0, .3) ;
}
#left_sider_head{
	border-top: solid 3px #c93037;
	width: 100%;
	height: 50px;
	background-color: #eae9da;
	padding-top: 8px;
}
#more_news{
	font-weight: 600;
	font-size: 18px;
}
.recent_news{
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}
article{
		padding-top: 12px; 
		padding-bottom: 12px; 
		margin-left: 12px; 
		margin-right: 12px;
		display: 12px; 
		border-bottom: 1px solid #e1e0d7; 
		}
article :last-child{
	border-bottom: none;
}
.time{
	padding-right: 3px;
	padding-top:3px; 
		float: left;
		font-family: 'PT Sans'; 
		font-size: 10px;
		line-height: 17px;
		letter-spacing: 1px;
		color: #c33;
}
#left_sider a{
	color: #000000;
}
#links{
	font-weight: 500px;
}
.wrapper{
	margin-right: auto;
	margin-left: auto;
	width: 1085px;
}